---
layout: default
thumbnail: "https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/11224263_10207384738643884_2521581550289579319_n.jpg?oh=337e2ceeab289de81142cb06ca2a4ed2&oe=5889CEDF"
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
    {% include disqus.html %}
</div>
